/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";


 .line_horizontal {
  border-bottom: 2px solid white; /* Linha branca de 2px abaixo da navbar */
}

.custom-dropdown-menu {
  background-color: #181C1F !important;
  color: #22272B; /* Cor do texto, se necessário */
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

span {
  /* Adicione aqui os estilos que deseja aplicar a todos os spans */
  font-size: 14px;
  color: #666;
}


h2 {
  /* Adicione aqui os estilos que deseja aplicar a todos os parágrafos */
  font-size: 25px;
  width: 50%;
  font-weight: 300; /* Deixa o texto mais fino */
  line-height: 1.5;
  margin-left: 20px;
  color: #ffffff;
}
