/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: var(--background-main) !important;
}

p {
  font-size: 0.9em;
  line-height: 1.5;
  color: var(--text-color-white);
}

span {
  font-size: 14px;
  color: var(--text-color-gray);
}

.footer {
  background-color: var(--background-footer);
  color: var(--footer-text);
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
}

h2 {
  font-size: 25px;
  width: 50%;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 20px;
  color: var(--text-color-white);
}

.icon {
  color: var(--text-color-white);
}

.back-button{
  margin-right: 10px;
}