<!-- app/views/boards/show.html.erb -->
<div class="kanban">
  
<!-- Header do Board -->
<%= render 'kanban/header' %>

<%if @user_uses_mobile %>
  <%= render 'cards/card_mobile' %>
<%else%>
  <%= render 'kanban/board' %>
<%end%>
 
</div>

<!-- Modal para Edição de Card -->
<%= render 'cards/edit' %>



<script>
