.kanban-header-title {
  color: var(--text-color-gray);
  width: 100%;
  background-color: var(--background-header-kanban);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-title {
  cursor: pointer;
  font-size: 20px;
  flex-grow: 1;
  color: var(--text-color-white);
  font-weight: 500
}

#delete-board-button {
  float: right;
  margin-right: 10px;
  padding: 10px;
}

#duplicate-board-button {
  float: right;
  padding: 10px;
}