 /* Mobile */
 .card-mobile {
    border-radius: 8px;
    background-color: #22272B;
    padding: 10px 20px 10px 20px;
    margin: 10px 7px 10px 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .add-card-mobile {
    border-radius: 8px;
    background-color: #22272B;
    padding: 10px 20px 10px 20px;
    margin: 10px 7px 10px 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .priority-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  .card-title-mobile-container {
    flex-grow: 1;
    font-size: 5px;
    color: #ADB9C5;
    text-align: left; /* Para garantir que o título esteja alinhado à esquerda */
  }

  .card-title-mobile{
    font-size: 15px;
    color: #ADB9C5;
  }
  
  .checkbox-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #5e5e5e;
    border-radius: 4px;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #FFA500;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  