 .card {
   border-radius: 5px;
   margin-bottom: 10px;
   cursor: grab;
   background-color: var(--card);
   position: relative;
   border-radius: 8px;
   padding: 15px;
   box-shadow: 0 2px 5px var(--box-shadow);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .card:hover {
   background-color: var(--background-card-hover);
 }

 .card-content {
   display: flex;
   flex-direction: column;
   width: 95%;
 }

 .title-text {
   color: var(--text-color-gray-100);
   word-wrap: break-word;
   font-size: 20px;
 }

 .card-info {
   display: flex;
   flex-direction: column;
   gap: 5px;
 }

 .card-info p {
   font-size: 0.9em;
   color: var(--text-color-gray-100);
   margin: 0;
   padding-bottom: 5px;
 }

 .tags {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
 }

 .custom-badge {
   background-color: var(--background-tag-card);
   color: var(--text-color-gray-100);
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 0.85rem;
 }

 .card-actions {
   display: flex;
   gap: 5px;
   width: 100%;
   margin-top: 5px;
   justify-content: flex-end;
   margin-top: auto;
 }

 .card-actions button {
   background: none;
   border: none;
   cursor: pointer;
 }

 .card-actions button i {
   font-size: 16px;
   transition: transform 0.2s ease;
 }

 .card-actions button i:hover {
   transform: scale(1.3);
 }