  .tag-badge {
    background-color: var(--background-tag-card);
    color: var(--border-color-white);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.85em;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .tag-badge .remove-tag {
    margin-left: 8px;
    cursor: pointer;
    color: var(--tag-remove-color);
    font-weight: bold;
  }