.custom-card-form .form-control,
.custom-card-form .form-select {
  background-color: var(--background-main-gray);
  border-color: var(--border-color-gray-100);
  color: var(--text-color-white);
}

.custom-card-form .form-control::placeholder,
.custom-card-form .form-select::placeholder {
  color: var(--border-color-gray-100);
  opacity: 1;
}

.custom-card-form .form-label {
  color: var(--text-color-white);
}

.custom-card-form .custom-submit-button {
  background-color: var(--board-card);
  border-color: var(--board-card);
  color: var(--text-color-white);
}

.custom-card-form .custom-submit-button:hover {
  background-color: var(--board-card);
  border-color: var(--board-card);
  color: var(--text-color-white);
}

.custom-card-form .form-select option {
  background-color: var(--background-main-gray);
  color: var(--text-color-white);
}

.custom-card-form .form-select {
  background-color: var(--background-main-gray);
  color: var(--text-color-white);
}

#editCardModal .modal-content {
  background-color: var(--background-main);
}

#editCardModal .modal-title {
  color: var(--text-color-white);
}

#editCardModal .btn-close {
  filter: invert(1);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}

.hidden {
  display: none;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}