#kanban-board {
  display: flex;
  overflow-x: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  gap: 20px;
}

#kanban-board::-webkit-scrollbar {
  display: none;
}

.column {
  border-radius: 10px;
  width: 300px;
  margin-bottom: 10px;
  flex-shrink: 0;
  display: flex;
  background-color: var(--background-column);
  padding: 10px;
  flex-direction: column;
}

.column-name-input {
  width: 100%;
}

.delete-column-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
}

.add-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-column-text {
  text-decoration: none;
  font-style: normal;
}

.card-placeholder {
  background-color: var(--text-color-gray);
  border: 2px dashed var(--border-color-gray);
  height: 80px;
  margin-bottom: 10px;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.completed-card {
  opacity: 0.6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.processing-card {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.custom-input {
  background-color: var(--background-main);
  color: var(--text-color-white);
}

.custom-input::placeholder {
  color: var(--text-color-white);
  opacity: 1;
}

.cancel-new-column-button {
  margin-left: 10px;
}

.kanban {
  background-color: var(--background-kanban);
  height: 100vh;
}