<!DOCTYPE html>
<html>
  <body>
    <p>Olá Fulano,</p>

    <p>Este é um lembrete de que a tarefa "<strong><%= @card.title %></strong>" está para vencer em <strong><%= @time_before_due %></strong>.</p>

    <p>Por favor, complemente a tarefa o quanto antes para evitar atrasos.</p>

    <p>Obrigado!</p>
  </body>
</html>
