.new-column-form {
  margin-top: 10px;
  height: 50px;
  width: 300px;
  display: none;
}

.new-input-colum {
  width: 300px;
  background-color: var(--background-button-new-board);
}

.add-column-button .new-column {
  background-color: var(--background-main-gray);
  color: var(--text-color-white);
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-column-button .new-column:hover {
  background-color: var(--background-main-gray);
}

.add-column-button a {
  text-decoration: none;
  background-color: var(--background-new-column)
}

.new-column i {
  margin-right: 8px;
}

.new-column span {
  color: var(--text-color-gray-100);
  font-weight: 700;
}