.new-column-form {
    margin-top: 10px;
    height: 50px;
    width: 300px;
    display: none; 
    background-color: blue; 
  }

  .new-input-colum {
    width: 300px; 
    background-color: pink;
  }

  .add-column-button .new-column {
    background-color: #22272B; /* Verde para diferenciar do botão de adicionar card */
    color: white;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;  /* Alinha o ícone e o texto verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
  }

  .add-column-button .new-column:hover {
    background-color: #181C1F;
  }
  
  .add-column-button a {
    text-decoration: none; 
    background-color: blue
  }

  .new-column i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
  }
  
  .new-column span {
    color: #ADB9C5; 
    font-weight: 700;
  }