<!-- app/views/boards/_kanban_board.html.erb -->
<div id="kanban-board" data-board-id="<%= @board.id %>">
  <% if @board.board_items.any? %>
    <% last_column_id = @board.board_items.last.id %> <!-- Identifica o ID da última coluna -->
    <% @board.board_items.each do |item| %>
      <%= render 'board_items/index', item: item, last_column_id: last_column_id %>
    <% end %>
  <% end %>
  
  <% unless @board.daily_board? %>
    <%= render 'board_items/new' %>
  <% end %>
</div>
