<!-- app/views/boards/_daily_board_message.html.erb -->
<% if @board.daily_board? %>
  <div class="daily-board-mood-message alert d-flex align-items-center" role="alert">
    <span>
      O quadro de tarefas diárias é criado a partir do seu humor diário. Pega-se primeiro as tarefas que estão a 3 dias de se vencer, em seguida pega-se as tarefas que estão marcadas no humor que você selecionou, e por último o restante de tarefas ordenadas por prioridade.
    </span>
  </div>
<% end %>
