<h3 class="kanban-header-title">

  <%= link_to :back, class: "btn btn-link", style: "color: white; margin-right: 10px;" do %>
    <i class="bi bi-arrow-left"></i> 
  <% end %>

  <% unless @board.daily_board? %>
    <span class="board-title" data-board-id="<%= @board.id %>">
      <%= @board.title %>
    </span>
  <% else %>
    <%= @board.title %>
  <% end %>

  <div>
    <% unless @board.daily_board? %>
      <button id="delete-board-button" title="Excluir board" class="btn btn-link">
        <i class="bi bi-trash"></i>
      </button>
      
      <button id="duplicate-board-button" title="Duplicar board" class="btn btn-link">
        <i class="bi bi-files"></i>
      </button>
      
    <% end %>
  </div>
</h3>
