<div class="kanban-header-title">

  <%= link_to root_path, class: "btn btn-link back-button icon" do %>
    <i class="bi bi-arrow-left"></i> 
  <% end %>

  <div class="board-title" data-board-id="<%= @board.id %>">
    <%= @board.title  %>
    <% if @board.daily_board? %>
    <i class="bi bi-question-circle-fill text-white fs-6" 
        title="Este gráfico exibe o número de tarefas criadas e suas prioridades ao longo do tempo. A cor indica a prioridade e o preenchimento indica se a tarefa foi concluída." 
      >
      </i>
    <%end%>
  </div>

  <div>
    <% unless @board.daily_board? %>
      <button id="delete-board-button" title="Excluir board" class="btn btn-link">
        <i class="bi bi-trash icon"></i>
      </button>
      
      <button id="duplicate-board-button" title="Duplicar board" class="btn btn-link">
        <i class="bi bi-files icon"></i>
      </button>
      
    <% end %>
  </div>
</div>
