.cards-graph-section {
  text-align: center;
  display: flex;
  padding: 10px;
  border: 2px solid var(--border-color-card-graph);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  background-color: var(--background-main);
  flex-direction: column;
  position: relative;
}

.cards-graph-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-dates {
  display: flex;
  width: 100%;
}

.graph-title {
  padding: 20px 0px 20px 0px;
}

.graph-title i {
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 10px;
}

.start-date {
  flex: 1;
  text-align: start;
  color: var(--text-color-white);
}

.label-priority {
  color: var(--text-color-white);
}

.end-date {
  flex: 1;
  text-align: end;
  color: var(--text-color-white);
}

.cards-graph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
}

.graph-day {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}

.graph-square {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s, border-color 0.2s;
}

.graph-square:hover {
  transform: scale(1.2);
}

.graph-square.completed {
  border-color: transparent;
}

.graph-square:not(.completed) {
  background-color: transparent;
  border-style: solid;
}

.graph-square.empty {
  background-color: var(--background-main-white);
  border: 2px solid var(-border-color-gray-100);
  border-radius: 5px;
}

.priority-0 {
  background-color: var(--priority-0);
  border-color: var(--priority-0);
}

.priority-1 {
  background-color: var(--priority-pending);
  border-color: var(--priority-1);
}

.priority-2 {
  background-color: var(--priority-pending);
  border-color: var(--priority-2);
}

.priority-3 {
  background-color: var(--priority-pending);
  border-color: var(--priority-3);
}

.graph-square.completed.priority-0 {
  background-color: var(--priority-0);
}

.graph-square.completed.priority-1 {
  background-color: var(--priority-1);
}

.graph-square.completed.priority-2 {
  background-color: var(--priority-2);
}

.graph-square.completed.priority-3 {
  background-color: var(--priority-3);
}

.graph-square.completed.priority-nk {
  background-color: var(--priority-nk);
}

@media (max-width: 600px) {
  .graph-square {
    width: 15px;
    height: 15px;
  }
}


.priority-legend {
  align-self: flex-end;
  margin-top: 20px;
}

.legend-items {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.date-range {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}